<a [routerLink]="'trending'" class="block w-52 group">
  <div class="h-52 w-52 rounded-full overflow-hidden">
    <img [src]="imageUrl()" [alt]="data().name"
      class="w-full h-full object-center object-cover group-hover:scale-110 group-hover:opacity-80 transition">
  </div>

  <div class="px-2 py-4 text-center">
    <!-- <div class="flex flex-col justify-between"> -->
    <span class="text-sm text-muted">{{data().popularity.toString() | roundWith:"(":")"}}</span>
    <h5 class="line-clamp-2">{{data().name}}</h5>
  </div>
</a>
